@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.leveled:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(./images/mainBg.mkv) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}

@media(min-width: 640px) {
    .buttonContainer {
        /* min-width: fit-content; */
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: space-around;
        min-height: 35vh;
    }
}


.navi-link {
    
} 

.navButtonA {
    
}



@media(min-width: 340px) {
    .teamCard {
        
    }
}

@media(max-width: 360px) {
    .leveled {
        /* background-size: auto 50%; */
       background-size:cover;
        
    }

    .buttonContainer {
        flex-wrap: wrap;
        justify-content:center;

    }

}

