@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media(min-width: 640px) {
    .buttonContainer {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        min-height: 35vh;
    }
}

@media(max-width: 360px) {
    .leveled {
       background-size:cover;
    };

    .buttonContainer {
        flex-wrap: wrap;
        justify-content:center;
    };
}

