@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* className="fixed top-0 left-0 w-full h-[100vh] object-fill scale-150 sm:scale-100 bg-right-top z-[-10] */
/* @media (min-aspect-ratio: 16/9) {
    #bgVideo {
        width: 100%;
        height: auto;
    }
} */

@media only screen and (min-width:100px) and (max-width: 600px) {
    #videoSrc {
        display: none;
    }
}

@media(min-width: 640px) {
    .buttonContainer {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        min-height: 35vh;
    }
}

@media(max-width: 360px) {
    .buttonContainer {
        flex-wrap: wrap;
        justify-content:center;
    };
}

